html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: rgba(222, 184, 135, 0.651);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.app {
  flex-shrink: 0;
  display: flex;
}

.app-header {
  font-size: 34px;
  font-weight: 600;
  line-height: 50px;
  background-color: #8a7dff;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
}
.logo {
  text-decoration: none;
  letter-spacing: 1%;
}

.form {
  display: flex;
  align-items: center;
  background-color: #8a7dff;
  height: 60px;
  padding-right: 100px;
}

.search-form {
  width: 500px;
  height: 40px;
  margin: 150px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #fff;
}

.search__input {
  width: 370px;
  padding: 10px 5px;
  float: left;
  color: rgb(255, 255, 255);
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px;
}

.search__input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

.search__input:focus {
  outline: 0;
  background: transparent;
}

/* .search-button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #fff;
  background: transparent;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0;
}

.search-button:hover {
  background: #fff;
  color:#444;
}

.search-button:active {
  box-shadow: 0px 0px 12px 0px rgba(225, 225, 225, 1);
}

.search-button:focus {
  outline: 0;
} */

.select {
  position: absolute;
  left: 0;
  top: 4.5rem;
}

.select-list {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 4rem;
}

.select-rate {
  font-family: 'Trebuchet MS', 'Lucida Sans';
  padding: 7px 20px;
  width: 50px;
  margin: 10px 10px 10px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 10px solid #8a7dff;
  box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, 0.1),
    -2px -2px 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 5px 0 rgba(0, 0, 0, 0.1),
    -2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  font-size: 20px;
  letter-spacing: 2px;
  transition: 0.3s all linear;
  float: left;
}
.select-rate:nth-child(3n + 1) {
  clear: both;
  border-color: #8a7dff;
}
/* .select-rate{border-color: #8a7dff;} */
/* .select-rate:nth-child(3){border-color: #fcba30;}
.select-rate:nth-child(4){border-color: #1ccfc9;}
.select-rate:nth-child(5){border-color: #493224;} */
.select-rate:hover {
  border-left: 10px solid transparent;
}
.select-rate:hover {
  border-right: 10px solid #8a7dff;
}
/* .select-rate:nth-child(1):hover {border-right: 10px solid #f05d22;}
.select-rate:nth-child(2):hover {border-right: 10px solid #8bc63e;}
.select-rate:nth-child(3):hover {border-right: 10px solid #fcba30;}
.select-rate:nth-child(4):hover {border-right: 10px solid #1ccfc9;}
.select-rate:nth-child(5):hover {border-right: 10px solid #493224;} */

.detail {
  width: 959px;
  height: 825px;
  left: 795px;
  top: 450px;
  position: fixed;
}

.styles_scroll-to-top {
  background-color: white;
  right: 40px;
  bottom: 40px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 7px;
  width: 40px;
  height: 40px;
  transition: opacity 1s ease-in-out;
  box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
  border: none;
  outline: none;
}

.scroll-path {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
