.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
}

a {
  color: rgb(255, 251, 251);
}

.header {
  position: absolute;
  display: flex;
  flex-direction: row;

  text-decoration: none;
  letter-spacing: 1%;
}

.search-input {
  background: #fffdfd;
  border-radius: 10px;
}

.select {
  position: absolute;
  float: left;
  justify-content: center;
  padding-top: 5px;

  padding-left: 100px;
}

.select-rate {
  list-style-type: none;
  cursor: pointer;
}

.detail {
  width: 959px;
  height: 825px;
  left: 795px;
  top: 450px;
  position: fixed;
}

.styles_scroll-to-top {
  background-color: white;
  right: 40px;
  bottom: 40px;
  position: fixed;
  z-index: 2;
  cursor: pointer;
  border-radius: 7px;
  width: 40px;
  height: 40px;
  transition: opacity 1s ease-in-out;
  box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
  border: none;
  outline: none;
  /* visibility: hidden; */
}

li {
  list-style-type: none;
  padding: 10px;
}
