html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
	font-size: 34px;
	font-weight: 600;
	line-height: 50px;
	background-color: #8a7dff;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: flex-start;
}
.logo {
	text-decoration: none;
	letter-spacing: 1%;
	font-size: 3rem;
	font-weight: 700;
	font-family: "Trebuchet MS", "Lucida Sans";
}

.search {
	box-sizing: border-box;
	position: relative;
	width: 300px;
	margin: 0 auto;
	height: 42px;
}

.search__input {
	box-sizing: border-box;
	height: 42px;
	width: 0;
	padding: 0px 42px 0 15px;
	border: none;
	border-bottom: 2px solid transparent;
	outline: none;
	background: transparent;
	transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 2;
	cursor: pointer;
	top: 5px;
}

.search__input:focus {
	box-sizing: border-box;
	width: 300px;
	z-index: 1;
	border-bottom: 2px solid #f9f0da;
}

.search__button {
	border: none;
	height: 42px;
	width: 42px;
	position: absolute;
	top: 5px;
	right: 0;
	background: url("../images/search.svg") no-repeat center center;
	background-size: content;
	cursor: pointer;
}

.select {
	position: absolute;
	left: 0;
	top: 4.5rem;
}

.select-list {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 4rem;
}

.select-rate {
	padding: 7px 20px;
	width: 50px;
	margin: 10px 10px 10px 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border-left: 10px solid #8a7dff;
	box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, 0.1), -2px -2px 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 5px 0 rgba(0, 0, 0, 0.1),
		-2px 2px 5px 0 rgba(0, 0, 0, 0.1);

	letter-spacing: 2px;
	transition: 0.3s all linear;
	float: left;
	cursor: pointer;
}
.select-rate:nth-child(3n + 1) {
	clear: both;
	border-color: #8a7dff;
}

.select-rate:hover {
	border-left: 10px solid transparent;
}
.select-rate:hover {
	border-right: 10px solid #ff0000;
}

.select-rate-button {
	font-family: "Trebuchet MS", "Lucida Sans";
	font-size: 20px;
	border: none;
	border-radius: 5px;
	background-color: rgba(222, 184, 135, 0);
	color: black;
	cursor: pointer;
}

.detail {
	background: #ffffff;
	top: 50%;
	left: 50%;
	margin-top: -0.625em;
	position: fixed;
	border-radius: 10px;
	box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, 0.1), -2px -2px 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 5px 0 rgba(0, 0, 0, 0.1),
		-2px 2px 5px 0 rgba(0, 0, 0, 0.1);
}

.detail-scroll {
	font-family: "Trebuchet MS", "Lucida Sans";
	font-size: 40px;
	display: flex;
	justify-content: center;
	width: auto;
	min-width: 150px;
	min-height: 20px;
	padding: 40px;
}

.arrow {
	background-color: white;
	right: 40px;
	bottom: 40px;
	position: fixed;
	z-index: 2;
	cursor: pointer;
	border-radius: 7px;
	width: 40px;
	height: 40px;
	transition: opacity 1s ease-in-out;
	box-shadow: 0 9px 25px 0 rgb(132 128 177 / 28%);
	border: none;
	outline: none;
}

.scroll-path {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
